<ion-view view-title="Fridge Buddy">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>


        <a class="item item-icon-left item-balanced" ng-click="showPrompt2()">
            <i class="icon ion-plus-circled"></i> Add New Grocery
        </a>


        <div id="grocery-list">
            <ion-checkbox ng-repeat="grocery in groceryList" class="item-unchecked"> {{ grocery.name }}</ion-checkbox>
        </div>

    </ion-content>
</ion-view>