<ion-view view-title="Recipes">
    <ion-content class="padding">
        <p>
            Here are some suggested recipes you can use with the ingredients you have in your fridge!
        </p>
        <div class="card">
            <div class="item item-text-wrap">
                Penne Alla Vodka
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                Macaroni and Cheese
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                Veggie Fried Rice
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                Peanut Butter Jelly Sandwich
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                Toast
            </div>
        </div>

    </ion-content>
</ion-view>