<ion-view view-title="Recipes">
    <ion-content class="padding">
        <p>
            Here are some suggested recipes you can use with the ingredients you have in your fridge!
        </p>
        <div class="card">
            <div class="item item-text-wrap">
               <a href=http://allrecipes.com/recipe/19919/penne-a-la-vodka-ii/ target=_blank> Penne Alla Vodka </a>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <a href=http://allrecipes.com/recipe/11679/homemade-mac-and-cheese/ target=_blank>Macaroni and Cheese</a>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
               <a href=http://allrecipes.com/recipe/21186/vegetable-fried-rice/ target=_blank>Veggie Fried Rice</a>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <a href=http://allrecipes.com/recipe/49943/grilled-peanut-butter-and-jelly-sandwich/ target=_blank>Peanut Butter Jelly Sandwich</a>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <a href=http://www.foodnetwork.com/recipes/ina-garten/toasted-baguette-recipe2.html target=_blank>Toast</a>
            </div>
        </div>

    </ion-content>
</ion-view>